.button {
  display: flex;
  padding: 15px;
}
.Primary {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 45px;
  margin-left: 15px;
  margin-right: 15px;
}
.Dark {
  background-color: rgb(68, 68, 68);
  padding: 10px;
  color: white;
  border-radius: 45px;
  margin-left: 15px;
  margin-right: 15px;
}
.buttons {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Dark:hover {
  background-color: whitesmoke;
  color: black;
}
.Primary:hover {
  background-color: rgb(68, 68, 68);
  color: white;
}

@media only screen and (max-width: 600px) {
  .button {
    display: flex;
    flex-direction: column;
  }
  .Primary,
  .Dark {
    width: 55vw;
    border-radius: 25px;
  }
}
